name: okul_mesajlasma
description: Okul içi WiFi tabanlı mesajlaşma ve dosya paylaşım sistemi.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  file_picker: ^8.0.0
  path_provider: ^2.1.2
  shared_preferences: ^2.2.2
  intl: ^0.19.0
  audioplayers: ^6.0.0
  window_manager: ^0.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
