[Desktop Entry]
Type=Application
Name=Okul Mesajlasma Sistemi
Comment=WiFi tabanli okul ici mesajlasma sistemi
Exec=env GDK_BACKEND=x11 /usr/share/okul-mesajlasma/launch.sh
Icon=okul-mesajlasma
Terminal=false
X-GNOME-Autostart-enabled=true
Hidden=false
